# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Environment variables
.env

# macOS
.DS_Store

# Logs
*.log

# SQLite
*.db

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Generated reports
data/reports/